/* .visible {
    display: flex;
}

.hidden {
    display: none;
} */

.calculette {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topCalculette {
    width: 100%;
    height: 100%;

}

.groupInput {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.inputCalculette {
    height: 30px;
    width: 100%;
    margin-top: 3px;
    border-radius: 15px;
    border: 4px solid #475569;
}

.selectCalculette {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 20%;
    margin-top: 3px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 0;
    font-size: 18px;
    border: 4px solid #475569;
    background-color: #d4d4d4;

}

.resultatCalcul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.buttonNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.button {
    background-color: #94a3b8;
    border: 2px solid #000;
    border-radius: 15px;
    width: 40%;
    height: 50px;
}

.button:hover {
    background-color: #334155;
}

.button:active {
    transform: translateY(4px);
}

.calculatrice {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.LigneCalculatrice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
}

.buttonCalculatrice {
    height: 75px;
    width: 75px;
    border-radius: 15%;
    font-weight: bold;
    font-size: 16px;
}

.buttonCalculatrice:active {
    transform: translateY(4px);
}

.buttonCalculatricechiffre {
    background-color: #696969;
    color: #fff;
}

.buttonCalculatriceegale {
    background-color: #da891f;
    color: #fff;
}

.buttonCalculatriceentrer {
    background-color: #3f3f46;
    color: #fff;
}

.buttonCalculatricesymbole {
    background-color: #334155;
    color: #fff;
}

.inventaire {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 400px;
    height: 20px;
}

thead th {
    font-weight: normal;
}

tbody,
tr {
    vertical-align: top;
}

td,
th {
    padding: 0;
}


.tableau {
    background-color: red;
    width: 100%;
    height: 100%;
}

.ligneinventaire {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 24px;
    margin: 5px;
    width: 400px;
    background-color: #cbd5e1;
    border: 2px solid #000;
    border-radius: 13px;
    padding: 5px;
}

.titreInventaire {}

.valeurInventaire {
    margin-left: auto;
}

.uniteInventaire {
    margin-left: 10px;
}

.buttonnavinventaire {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;

}

.buttoninventaire {
    background-color: #94a3b8;
    border: 2px solid #000;
    border-radius: 15px;
    width: 30%;
    height: 50px;
}

.buttoninventaire:hover {
    background-color: #334155;
}

.buttoninventaire:active {
    transform: translateY(4px);
}



@media screen and (min-width: 1040px) {
    .page {
        display: flex;
        flex-direction: row;
    }

    .buttonNav {
        display: none;
    }

    .inventaire,
    .calculette {
        width: 50%;
    }

    .inputCalculette {
        height: 60px;
        font-size: 26px;
    }

    .buttonCalculatrice {
        height: 100px;
        width: 100px;
        font-size: 24px;
    }

    .buttoninventaire {
        height: 100px;
        width: 150px;
        font-size: 24px;
        margin: 8px;
    }

    .ligneinventaire {
        font-size: 30px;
        width: 498px;
    }

}

@media screen and (min-width: 988px) {
    .page {
        display: flex;
        flex-direction: row;
    }

    .buttonNav {
        display: none;
    }

    .inventaire,
    .calculette {
        width: 50%;
    }

    .inputCalculette {
        height: 60px;
        font-size: 22px;
    }

    .buttonCalculatrice {
        height: 100px;
        width: 100px;
        font-size: 16px;
    }

    .buttoninventaire {
        height: 50px;
        width: 100px;
        font-size: 16px;
        margin: 8px;
    }

    .ligneinventaire {
        font-size: 30px;
        width: 325px;
    }

}